<div class="planet-container">
	<div class="planet-header">
		<img class="trooper" src="assets/images/stormtrooper-icon.svg" alt="storm-trooper"/>
		<h1 class="title">{{planet$.name}}</h1>
	</div>
	<div class="planet-content">
		<div class="stats">
			<div class="stat">
				<p class="stat-text-1">NAVN</p>
				<p class="stat-text-2">{{planet$.name}}</p>
			</div>
			<div class="stat">
				<p class="stat-text-1">DIAMETER (I KM)</p>
				<p class="stat-text-2">{{planet$.diameter}}</p>
			</div>
			<div class="stat">
				<p class="stat-text-1">TYNGDEKRAFT</p>
				<p class="stat-text-2">{{planet$.gravity}}</p>
			</div>
			<div class="stat">
				<p class="stat-text-1">TERRÆN</p>
				<p class="stat-text-2">{{planet$.terrain}}</p>
			</div>
			<div class="stat">
				<p class="stat-text-1">BEBOER ANTAL</p>
				<p class="stat-text-2">{{planet$.population}}</p>
			</div>
		</div>
		<div class="image-container">
			<img class="planet-image" src="assets/images/planet.png" alt="planet-image"/>
		</div>
	</div>
</div>

